{{define "theme-toggle"}}
<!-- Theme toggle (light/dark/auto) -->
<button @click="toggleTheme()" class="p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors" :title="getThemeButtonTitle()">
    <!-- Light mode icon -->
    <div x-show="currentTheme === 'light'">
        {{template "icon-sun" .}}
    </div>
    <!-- Dark mode icon -->
    <div x-show="currentTheme === 'dark'">
        {{template "icon-moon" .}}
    </div>
    <!-- Auto mode icon -->
    <div x-show="currentTheme === 'auto'">
        {{template "icon-monitor" .}}
    </div>
</button>
{{end}}